.content {
    height: 3000px
}

.wrapper{
    position: fixed;
}

#flowPin{
    position: fixed;
    z-index: 2;
}

.bottom {
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Old Newspapers Sung';
    src: url('../font/Old-Newspapers-Sung_1.woff');
}

@font-face {
    font-family: 'ons';
    src: url('../font/老报宋.ttf');
}

@font-face {
    font-family: 'mlgkt';
    src: url('../font/弥勒古楷体.ttf');
}